* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff: Roboto, "sans-serif";
    --fs: 2rem;
}

body {
    background-color: black;
}

div#app {
    width: 112rem;
    height: 68.8rem;

    margin: auto;
}

header {
    display: flex;

    margin: 11.5rem 0 8.7rem 0;
}

header div {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;

    margin-left: 29.4rem;
}

header input {
    font-family: var(--ff);
    font-size: 1.6rem;

    width: 46.2rem;
    height: 4.8rem;

    line-height: 100%;

    padding-left: 1.6rem;

    background-color: #06181c;

    border: none;
    border-radius: 0.5rem;

    color: white;
}

header input:focus {
    outline: 2px solid #065e7c;
}

.sr-only {
    position: absolute;

    width: 0.1rem;
    height: 0.1rem;

    padding: 0;

    margin: -0.1rem;

    overflow: hidden;

    clip: rect(0, 0, 0, 0);

    white-space: nowrap;

    border-width: 0;
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    font-family: var(--ff);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    width: 17rem;
    height: 4.8rem;

    background-color: #065e7c;
    color: white;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}

header button:hover,
header button:hover svg path {
    background-color: white;
    color: #065e7c;

    fill: #065e7c;
}

table {
    background-color: hsla(195, 61%, 6%, 1);

    border: 1px solid #4a808c;
    border-spacing: 0;

    border-radius: 1.2rem;

    color: white;

    width: 100%;

    overflow: hidden;
}

table thead {
    background-color: #092d38;

    height: 6.4rem;

    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: 700;
    text-align: left;
}

table tbody {
    display: block;

    height: 50rem;

    overflow-y: overlay;
    overflow-x: hidden;

    scrollbar-width: 0.6rem;
    scrollbar-color: hsla(191, 31%, 42%, 1) transparent;
}

table tbody::-webkit-scrollbar {
    width: 0.6rem;
}

table tbody::-webkit-scrollbar-track {
    background-color: transparent;
}

table tbody::-webkit-scrollbar-thumb {
    background-color: hsla(191, 31%, 42%, 1);
    border-radius: 1rem;
    border: none;

    height: 12.2rem;
}

table tbody::-webkit-scrollbar-thumb:hover {
    background-color: rgb(167, 239, 255);
}

tbody tr:nth-child(even) {
    background-color: hsla(192, 65%, 7%, 1);
    border: 1px solid #4a808c;

    color: white;
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table thead tr th,
table tbody tr td {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: 700;

    padding: 2.4rem 0 2.4rem 4rem;
}

tr p {
    margin-bottom: 0.8rem;
}

tr td a {
    text-decoration: none;

    color: white;
}

tr td a span {
    font-weight: 400;
}

table tbody tr.emptyTable {
    display: flex;
    justify-content: center;

    height: 50rem;
}

table tbody td.emptyTable {
    font-family: "Roboto Mono";
    font-size: 4rem;
    font-weight: 700;

    color: hsla(189, 4%, 32%, 1);

    display: flex;
    align-items: center;
    gap: 6rem;
}

td#remove button {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: 700;

    background-color: transparent;
    color: red;

    border: none;

    text-transform: capitalize;

    cursor: pointer;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

td.user img {
    width: 5.6rem;
    height: 5.6rem;

    border-radius: 50%;
}
